// $study-color: #78c646; // pistaschio
$study-color: #EFB116; // gold
// $study-color: #7F74ED; // periwinkle
// $participant-color: #0074e9; //blue
$participant-color:  #7F74ED;// #9f97f1;//periwinkle
$sample-color: #22ba6a;
// $sample-color: #59cb8f; // #22ba6a; //green 
// $sample-color: #d5651a; // amber
